[Desktop Entry]
Name=Badlion Client
Comment=The Best All-in-One Minecraft Mod Library
Exec=BadlionClient
Terminal=false
Type=Application
Icon=net.badlion.BadlionClient
StartupWMClass=BadlionClient
Categories=Game;
